<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        <!-- 代码贡献者 -->
        Powered by
        <a th:href="@{${configurations.get('footerPoweredByURL')}}" target="_blank" th:text="${configurations.get('footerPoweredBy')}"></a>
        <span class="ft-warn">&heartsuit;</span>
        Theme Amaze by
        <a href="https://github.com/spiritree" target="_blank">spiritree</a> & <a href="https://github.com/zjhch123" target="_blank">Jiahao.Zhang</a>
        <!-- 版权，备案内容 -->
        <br/>Copyright &copy;
        <span th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy')}"></span>
        <span th:text="${configurations.get('footerCopyRight')}"></span>&nbsp;•&nbsp;
        <a href="http://www.beian.miit.gov.cn/" target="_blank" th:text="${configurations.get('footerICP')}"></a>
    </div>
</footer>
</html>