<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/amaze/header::head-fragment"></head>
<body id="blog">
<div th:replace="blog/amaze/header::nav-fragment"></div>
<div th:replace="blog/amaze/header::header-fragment"></div>
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-lg-8 am-u-sm-12">
        <main class="links-list">
            <th:block th:unless="${#lists.isEmpty(favoriteLinks)}">
                <div class="title">
                    <h3>友链</h3>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="favoriteLink : ${favoriteLinks}">
                            <li><a th:href="@{${favoriteLink.linkUrl}}"
                                   th:text="${favoriteLink.linkName}">友链</a>
                                -
                                <th:block th:text="${favoriteLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(recommendLinks)}">
                <div class="title">
                    <h3>推荐网站</h3>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="recommendLink : ${recommendLinks}">
                            <li><a th:href="@{${recommendLink.linkUrl}}" th:text="${recommendLink.linkName}">推荐网站</a>
                                -
                                <th:block th:text="${recommendLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(personalLinks)}">
                <div class="title">
                    <h3>个人链接</h3>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="personalLink : ${personalLinks}">
                            <li><a th:href="@{${personalLink.linkUrl}}"
                                   th:text="${personalLink.linkName}">个人链接</a>
                                -
                                <th:block th:text="${personalLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <h2 id="个人链接">链接须知</h2>
            <p>欢迎互换友链 ^_^ 不过请确定贵站可以正常运营.</p>
            <p>我的邮箱是
                <th:block th:text="${configurations.get('yourEmail')}"></th:block>
                , 格式要求如下:
            </p>
            <ul>
                <li>网站名称：13blog</li>
                <li>网站链接：http://13blog.site</li>
                <li>网站描述：十三的个人博客</li>
            </ul>

            <p>请保证自己的链接长期有效,不然可能会被清理.</p>

        </main>
    </div>
</div>
<!-- 引入页脚footer-fragment -->
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
</body>
</html>