<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blog/amaze/header::head-fragment}"></head>
<body id="blog">
<div th:replace="~{blog/amaze/header::nav-fragment}"></div>
<div th:replace="~{blog/amaze/header::header-fragment}"></div>
<div class="am-g am-g-fixed blog-fixed">
    <div th:replace="~{blog/amaze/keyword-list::keyword-list-fragment}"></div>
    <div th:replace="~{blog/amaze/side::side-fragment}"></div>
</div>
<footer th:replace="~{blog/amaze/footer::footer-fragment}"></footer>
</body>
<script th:src="@{/blog/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/blog/plugins/search/search.js}"></script>
</html>